body { 
    background-color: #ffffff 
}

#app {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 40px;
    overflow: hidden;
}

textarea, input {
    display: block;
    width: 100%;
    background-color: rgb(233, 248, 255);
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}

.card{
    width: 200px;
    margin: 15px 2.5%;
    position: relative;
}

.card-text{
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album-score {
    background-color: #0275d8;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
}

#releases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#instructions {
    margin-top: 20px;
}

@media screen and (max-width: 576px) {

    .card{
        width: 40%;
        margin: 15px 5%;
    }

    .card-text{
        font-size: .8em;
        -webkit-line-clamp: 4;
    }

}